header, body {
	width: 100%;
}

header {
	background-image: url('images/header.jpg');
	color: white;
}

.mt, .mr, .mb, .ml {
	margin: 0;
}

.container-1 {
	background-color: #2ECC71;
	color: white;
}

.container-2 {
	background-color: white;
}

.container-3 {
	background-color: #17202A;
	color: white;
}

.container-4 {
	background-color: #17202A;
}

.container-5 {
	background-color: white;

}

.contact {
	background-color: #2ECC71;
	color: white;
}

.copyright {
	background-color: white;
}

.card-img-overlay:hover {
	border: 10px solid rgba(255,255,255,0.3);
	line-height: 160px;
	transform: scale(1.1);
}